html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-template-rows: 100px 5fr;
  /* nav-bar */
  .nav-bar {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 9px;
    &__logo {
      text-align: start;
      padding-left: 40px;
      font-size: 24px;
    }
    &__sign-in,
    &__sign-up {
      display: inline;
      text-decoration: none;
      font-size: 22px;
      color: black;
      font-weight: 400;
    }
    &__drop-down {
      display: none;
    }
  }
  /* input */
  .login {
    padding: 40px;
    justify-content: center;
    &__title {
      text-align: center;
      padding-bottom: 30px;
      font-size: 50px;
      font-weight: 900;
    }
    &__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &--id {
        width: 300px;
        height: 45px;
        padding-left: 10px;
        border-radius: 20px 20px 0px 0px;
        border: 0.5px solid gray;
      }
      &--pw {
        width: 300px;
        height: 45px;
        padding-left: 10px;
        border-radius: 0px 0px 20px 20px;
        border: 0.5px solid gray;
      }
      &__btn--login {
        width: 300px;
        height: 50px;
        font-size: 20px;
        font-weight: 900;
        margin-top: 30px;
        border-radius: 20px 20px 0px 0px;
        background-color: #864adb;
        color: aliceblue;

        border: 0px;
      }
      &__btn--cancel {
        width: 300px;
        height: 40px;
        display: none;
        border-radius: 0px 0px 20px 20px;
        background-color: #e8dcf8;
        color: #4c00b8;
        border: 0px;
      }
    }
  }
}
.wrapper-home {
  display: grid;
  grid-template-rows: 100px 5fr;
  /* nav-bar */
  .nav-bar {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 9px;
    &__logo {
      text-align: start;
      padding-left: 40px;
      font-size: 24px;
    }
    &__sign-in,
    &__sign-up {
      display: inline;
      text-decoration: none;
      font-size: 22px;
      color: black;
      font-weight: 400;
    }
    &__drop-down {
      display: none;
    }
  }
  /* input */
  .sign-up {
    padding: 40px;
    justify-content: center;
    &__title {
      text-align: center;
      padding-bottom: 30px;
      font-size: 50px;
      font-weight: 900;
    }
    &__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      &--id,
      &--pw,
      &--pw-repeat,
      &--student-number,
      &--phone-number,
      &--major {
        width: 300px;
        height: 35px;
        padding-left: 10px;
        border-radius: 10px;
        border: 0.5px solid gray;
      }
      &__check--id-isEqual,
      &__check--pw-isEqual,
      &__check--phone-number-is-valid-format {
        width: 300px;
        padding-left: 15px;
        text-align: left;
        font-size: 12px;
        color: red;
      }
      &__btn--register {
        width: 300px;
        height: 50px;
        font-size: 20px;
        font-weight: 900;
        margin-top: 30px;
        border-radius: 20px 20px 0px 0px;
        background-color: #864adb;
        color: aliceblue;
        border: 0px;
      }
      &__btn--cancel {
        width: 300px;
        height: 40px;
        border-radius: 0px 0px 20px 20px;
        background-color: #e8dcf8;
        color: #4c00b8;
        border: 0px;
      }
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/*화면 줄어들면*/
@media screen and (max-width: 786px) {
  .nav-bar {
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 8fr 1fr;
    text-align: start;
    box-shadow: 5px 5px 9px;
    .nav-bar__logo {
      font-size: 18px;
    }
    .nav-bar__drop-down {
      display: inline;
    }
    .nav-bar__sign-in,
    .nav-bar__sign-up {
      display: none;
    }
  }
  .login {
    .login__title {
      font-size: 34px;
    }
    .login__input {
      &--id,
      &--pw {
        width: 200px;
        height: 30px;
      }
      &__btn--login,
      &__btn--cancel {
        font-size: 16px;
        width: 200px;
        height: 30px;
      }
    }
  }
  .sign-up {
    .sign-up__title {
      font-size: 34px;
    }
    .sign-up__input {
      &--id,
      &--pw,
      &--pw-repeat,
      &--student-number,
      &--phone-number,
      &--major {
        width: 200px;
        height: 30px;
      }
      &__btn--register,
      &__btn--cancel {
        font-size: 16px;
        width: 200px;
        height: 30px;
      }
      &__check--id-isEqual,
      &__check--pw-isEqual,
      &__check--phone-number-is-valid-format {
        width: 200px;
        padding-left: 15px;
        text-align: left;
        font-size: 12px;
        color: red;
      }
    }
  }
}
